<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="magezero_r2" frontName="magezero_r2">
            <module name="MageZero_CloudflareR2" before="Magento_Backend" />
        </route>
    </router>
</config>
