name: Magento Coding Standard
on:
  pull_request:

jobs:
  coding-standard:
    name: Magento Coding Standard
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extdn/github-actions-m2/magento-coding-standard@master
